<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/assets/master.css">
    <title>arena</title>
</head>

<body>
    <h1>

    </h1>
    <br>

    <br>
    <div class="table-container">
        <table>
            <tr>
                <th>Candidate Id</th>
                <th>Candidate Name</th>
                <th>VOTES</th>

            </tr>

            <tr>
                <td>
                    <%=id1%>
                </td>
                <td>
                    <%=name1%>
                </td>
                <td>
                    <%=vote1%>
                </td>

            </tr>
            <tr>
                <td>
                    <%=id2%>
                </td>
                <td>
                    <%=name2%>
                </td>
                <td>
                    <%=vote2%>
                </td>

            </tr>
            <tr>
                <td>c1-2</td>
                <td>Ernst Handel</td>
                <td>55</td>

            </tr>

        </table>
        <form id="form" action="http://localhost:3000/voting/castvote" method="post">
            <input type="email" name="email" id="email" placeholder="email">
            <input type="text" name="name" placeholder="full name">
            <input type="number" name="sap" placeholder="sapID">
            <select name="candidateid" id="candidateid">
                <option value="1">prsn-1</option>
                <option value="2">prsn-2</option>
                <option value="3">prsn-3</option>
            </select>
            <input type="submit" value="Cast My Vote! ">
        </form>
    </div>

</body>

</html>